@{
    ViewData["Title"] = "Forgot Password-Super Admin";
    Layout = "_Layout";
}
<div>
    <h6 class="text-center display-5" style="font-size:20px">Super Admin</h6>
    <div class="container-fluid">
        <div class="col-md-4">
            <h3 class="text-center">Forgot Password</h3>
            @if (@ViewData.ContainsKey("msg") && @ViewData["msg"] != "")
            {
                <div class="alert alert-danger" role="alert" id="message">
                    @ViewData["msg"]
                </div>
            }
            <form asp-action="ForgotPassword" asp-area="superadmin" asp-controller="Auth" method="post">
                <div class="form-group">
                    <label class="text-secondary mb-2" for="userName">Username</label>
                    <input type="text" class="form-control" name="username" id="userName" placeholder="Enter Username" required>
                    <small id="userNameHelp" class="form-text text-danger d-none">We'll never share your email with anyone else.</small>
                </div>
                <input type="hidden" name="type" value="superadmin" hidden />
                <button type="submit" class="btn btn-primary primary-color-theme mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>

