@{
    ViewData["Title"] = "Reset Password-Super Admin";
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Forgot Password-Super Admin";
    Layout = "_Layout";
}
<div>
    <h6 class="text-center display-5" style="font-size:20px">Super Admin</h6>
    <div class="container-fluid">
        @if (@ViewData.ContainsKey("isValid") && @ViewData["isValid"] != "")
        {
            <div class="col-md-4">
                <h3 class="text-center">Forgot Password</h3>
                <div class="alert alert-danger d-none" role="alert" id="alertMsg">
                    Password and Confirm Password Does not matches
                </div>
                <form asp-action="ResetPassword" asp-area="superadmin" asp-controller="Auth" method="post">
                    <div class="form-group mt-3">
                        <label class="text-secondary mb-2" for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
                        <small id="passwordHelp" class="form-text text-danger d-none">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group mt-3">
                        <label class="text-secondary mb-2" for="password">Password</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Enter Password">
                        <small id="confirmPasswordHelp" class="form-text text-danger d-none">We'll never share your email with anyone else.</small>
                    </div>
                    <input type="hidden" name="type" value="superadmin" hidden />
                    <button type="submit" id="submitBtn" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="align-items-center justify-content-center">
                    <h3 class=" text-center text-danger">The Password Link has been expired</h3>
                </div>
            </div>

        }
    </div>
    <script>
        function confirmPasswords(pas1, pas2) {
            if (pas1 == pas2) {
                return 1;
            }
            else {
                return 0;
            }
        }
        $(document).ready(() => {
            var i = -1;
            $("#submitBtn").attr("disabled",true);
            $("#confirmPassword,#password").keyup(() => {
                i = confirmPasswords($("#password").val(), $("#confirmPassword").val());
                if (i == 0) {
                    $("#submitBtn").attr("disabled", true);
                    $("#alertMsg").removeClass("d-none");
                }
                else {
                    $("#submitBtn").attr("disabled", false);
                    $("#alertMsg").addClass("d-none");
                }
            });
        })
    </script>
</div>

